.containerBfsi {
    width: 100%;
}
.containerBfsi .listBfsi{
    width: 45%;
}
.containerBfsi .listAndImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 65vh;
}
.containerBfsi .listBfsi ul {
    list-style-type: none;
}
.containerBfsi .listBfsi ul li {
    font-size: 20px;
    
}
.containerBfsi .imgBfsi{
    margin-left: 100px;
    width: 40%;
}
.containerBfsi .imgBfsi img{
    width: 100%;
    height: 550px;
}
