.caseStudiesAndTestimonials .header h2{
    margin: 0%;
    padding: 0%;
    width: 55%;
}
.caseStudiesAndTestimonials .list .header {
    font-size: 20px;
    width: 100%;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
}
.caseStudiesAndTestimonials .list .header a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(28, 110, 179);
}
.caseStudiesAndTestimonials .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.caseStudiesAndTestimonials .list .item {
    box-shadow: -1px -1px 10px 1px rgb(189, 187, 187);
    border-radius: 20px;
    width: 90%;
    height: 210px;
    margin: 4px;
    padding: 5px;

}
.caseStudiesAndTestimonials .list .item .content {
    margin: 5px;
}
.caseStudiesAndTestimonials .list .item .icons {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caseStudiesAndTestimonials .list .item .icons img {
    width: 80px;
    height: 70px;
}

@media only screen and (max-width: 1320px) {
    .caseStudiesAndTestimonials .list .item{
        height: 250px;
    }
}
@media only screen and (max-width: 550px) {
    .caseStudiesAndTestimonials .list .header a {
        font-size: 18px;
        font-weight: bold;
        color: rgb(28, 110, 179);
    }
    .caseStudiesAndTestimonials .list .header {
        margin-top: 20px;
    }
}