.divider ul{
    height: 100vh;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 800px 600px;
}

.divider ul li{
    padding-top: 50px;
    margin: 130px;
    font-size: 35px;
}

.divider ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}