.header {
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
.header h3 {    
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .header {
        padding-top: 65px;
        margin-bottom: 0%;
    }
    .header h3 {
        font-size: 25px;
    }
  }