.industry .header {
    font-size: 40px;
    width: 100%;
    padding-left: 200px;
    display: flex;
}
.industry .header h3 {
    width: 78%;

}
.industry .item a {
    color: black;
    text-decoration: none;
}
.industry .list {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 500px;
    border: 1px solid rgb(232, 226, 226);
    margin-left: 300px;
}
.industry .list .item {
    width: 150px;
    height: 200px;
    margin: 12px;
}
.industry .list .item > *{
    font-size: 18px;
}
.industry .list .item .icons {
    color: white;
    border: 1px solid rgb(21, 172, 237);
    background-color:rgb(28, 110, 179);
    border-radius: 25px;
    width: 130px;
    height: 100px;
    padding: 2px;
}
.industry .list .item .icons img {
    width: 80px;
    height: 90px;
}