.pinnaclesSolutions .list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.pinnaclesSolutions .list .item {
    width: 230px;
    height: 300px;
    margin: 50px;
}

.pinnaclesSolutions .list .item .icons {
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
.pinnaclesSolutions .list .item .icons img {
    width: 200px;
    height: 200px;
}