.product .header {
    font-size: 40px;
    width: 100%;
    padding-left: 200px;
    display: flex;
}
.product .list {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 500px;
    border: 1px solid rgb(232, 226, 226);
    margin-left: 300px;
}
.product .list .item {
    background-color: black;
    width: 150px;
    height: 200px;
    margin: 12px;
}
.product .list .item > *{
    color: white;
    font-size: 18px;
}
.product .list .item .icons {
    opacity: 0.5;
    color: white;
    border: 1px solid rgb(21, 230, 237);
    background-color: rgb(107, 212, 207);
    box-shadow: -2px -2px 2px 2px green;
    width: 150px;
    height: 100px;
    padding: 2px;
}